
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Prediction Report</title>
                <script src="https://cdn.tailwindcss.com"></script>
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link
                    href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Funnel+Display:wght@300..800&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Press+Start+2P&display=swap"
                rel="stylesheet">
                <style>
                    .font-hubot {
                        font-family: 'Funnel Display', serif;
                    }
                </style>
            </head>
            <body>
                <div class="bg-slate-950 container min-h-screen">
                    <h1 class="text-stone-300 text-5xl text-center font-hubot p-24">
                        Skin Disease Detection using Deep Learning
                        <span class="mt-5 before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-slate-500 relative inline-block">
                            <span class="relative text-slate-950">Melanocytic Nevi</span>
                        </span>
                    </h1>
                    <div class="w-4/12 h-2/5 bg-slate-500 rounded-lg mx-auto flex flex-col items-center justify-center text-center">
                    <h1 class="text-slate-950 font-hubot text-4xl mb-10 mt-10">Prediction Report</h1>
                    <p class="text-stone-300 font-hubot text-2xl mb-2 mt-2"><b class="text-slate-950">Predicted Class:</b> Melanocytic_Nevi</p>
                    <p class="text-stone-300 font-hubot text-2xl mb-2 mt-2"><b class="text-slate-950">Confidence:</b> 0.60</p>
                    <a class="bg-slate-950 rounded-full px-10 py-4 mb-10 mt-10 text-stone-300" href="/">Upload Another Image</a>
                </div>
            </body>
            </html>
            